*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(112, 111, 111);
  display: grid;
  place-items: center;
}

.child {
  height: 400px;
  width: 400px;
  position: relative;
  display: inline-block;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
}

.c1 {
  background: orange;
  left: 250px;
}
.c2 {
  background: white;
}
.c3 {
  background: green;
  right: 250px;
}
